<!doctype html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Stock tracking
</title>

<!-- HEADER -->

<div class="w3-container w3-teal">
  <h1>Stocking Tracking App</h1>
</div>

<div class="w3-container">
  <p>You are never gonna beat me in understanding the market!</p>
</div>



<!-- BODY -->
<form class="w3-container" method="post">

  <!-- Stock symbol picker-->
  <div class="input text w3-text-teal w3-margin-top w3-margin-bottom">
                {{ form.name.label }} {{ form.name }}
  </div>

  <!-- Start date picker-->
  <div class="input text w3-text-teal w3-margin-top w3-margin-bottom">
                {{ form.start_date.label }} {{ form.start_date }}
  </div>

  <!-- End date picker-->
  <div class="input text w3-text-teal w3-margin-top w3-margin-bottom">
                {{ form.end_date.label }} {{ form.end_date }}
  </div>

  <!-- Submit button-->
  <div class="input submit">
                <input class = "w3-blue-grey w3-btn" type="submit" value="Search" />
  </div>


  <!-- debug-->
  <p>The stock you are looking for is {{result}}</p>

</form>












<!-- FOOTER -->
<div class="w3-container w3-teal">
  <p>来自Kiki Tang莫名其妙的灵感</p>
</div>
